:root {
    --primary-color: #ff793f;
}

* {
  padding: 0;
}

html,
body,
.card-body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.header {
  height: 50px;
  text-align: center;
  border: 1px solid #000;
}

.toggle-area {
  height: 60%;
  overflow: auto;
}

.card-body {
  font-family: "Inter", sans-serif;
  display: flex;
  border: 1px solid #000;
  padding: 20px;
  background-image: -moz-linear-gradient(
    135deg,
    rgb(255, 209, 163),
    rgb(199, 218, 255)
  );

  background-image: -webkit-linear-gradient(
    135deg,
    rgb(255, 209, 163),
    rgb(199, 218, 255)
  );

  background-image: linear-gradient(
    135deg,
    rgb(255, 209, 163),
    rgb(199, 218, 255)
  );
}

.card {
  position: relative;
  width: 500px;
  height: 250px;
  background-color: #fff;
  border-radius: 20px;
  margin-left: 20px;
  box-shadow: 8px 15px 15px -3px rgba(0, 0, 0, 0.1),
    5px 10px 8px -9px rgba(0, 0, 0, 0.1);
  background-repeat: round;
}

.logo-dcard {
  position: absolute;
  bottom: 0;
  left: 220px;
  width: 50px;
}

.edit-card {
  width: 400px;
  border-radius: 20px;
  padding: 20px;
  margin-left: 50px;
  height: 70%;
}

.input-link {
  position: relative;
}

.error-icon {
  position: absolute;
  color: red;
  right: 0;
  top: 5px;
  display: none;
}

.input-link input {
    color: black;
    font-size: 1vw;
  padding: 14px;
  width: 90%;
  outline: none;
  border: none;
  /* border-bottom: 2px solid #ff793f; */
  border-bottom: 1px solid #777;
  background: none;
  transition: 0.25s;
}

.input-link input:focus,
.input-text input:focus {
  border-bottom: 2px solid #fff;
}

.input-text input {
  margin: 20px 0 20px 0;
  padding: 14px;
  width: 90%;
  outline: none;
  border: none;
  border-bottom: 1px solid #777;
  transition: 0.4s;
  background: none;
}

.btn-order {
  margin-top: 50px;
  float: right;
  padding: 8px;
  width: 80px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #fff;
  color: #ff793f;
  border: 1px solid #000;
  transition: 0.25s;
}

    .btn-order:hover,
    #btnRadio:hover,
    .btn-common input:hover,
    .uploadAvt__label:hover,
    .uploadBg__label:hover {
        background-color: #ff793f;
        color: #fff;
    }

#uploadFile,
.uploadAvt {
  transition: 0.2s;
  margin-top: 10px;
}

.choose-color,
.choosePosition,
.choosePositionText,
.input-text,
.textColor {
  display: none;
}

.choosePositionText,
.choosePosition {
  position: relative;
}

#btnRadio,
#avtBtn {
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #000;
  color: #ff793f;
  background-color: #fff;
  transition: 0.25s;
  margin: 8px;
}

#chooseColor,
.choosePosition,
.choosePositionText {
  margin: 20px 0 15px 20px;
}

.qrcode {
  position: absolute;
  top: 5px;
  right: 0;
}

.img-qr {
    mix-blend-mode: darken;
}

.card--top {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card--center {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.card {
    position: relative;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    padding: 0.275rem;
}

.card__display {
    height: fit-content;
    width: 100%;
}

img[src = ""] {
    display: none;
}

.rightResult {
    float: right;
    margin-right: 0.75rem;
}
/*
.leftResult {
  position: absolute;
  top: 20px;
  left: 20px;
}



.centerResult {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottomResult {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);*/
}
/* ------------------- */
/* MODAL */
.cmn-modal {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    display: none;
}

.cmn-container {
    width: 900px;
    background-color: #fff;
    height: 500px;
    position: relative;
}

.cmn-modal-header {
    height: 50px;
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
}

.imageShow,
.avtShow {
    border: 1px solid #ccc;
    width: 500px;
    height: 250px;
    margin: 20px auto;
}

/*.cropBackground,
.cropAvatar{
    background: #fff;
    display: none;
    border-radius: 2rem;
}
*/
.cropHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    color: #fff;
    margin-bottom: 0.5rem;
}

#image-background {
    margin: 1rem;
}

.btn-upload-background {
    /* height: 2.2rem; */
    padding: 8px;
    margin-right: 1rem;
    /* font-size: 0.6rem; */
    /* font-weight: 600; */
    color: #fff;
    background-color: #e67e22;
    border: none;
    letter-spacing: 1.5px;
    cursor: pointer;
    width: 5rem;
    border-radius: 6px;
}

.cropHeader h3 {
    font-family: cursive;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    /*color: var(--primary-color);*/
    padding: 1rem;
}


.cropHeader button:hover {
 
}

.btn-upload-template,
.btn-upload-avatar,
.uploadBg__label,
.uploadAvt__label {
    margin: 0.5rem;
    padding: 0.5rem;
    color: var(--primary-color);
    background: #fff;
    border: 1px solid #cccc;
    box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
    float: right;
    cursor: pointer;
    border-radius: 2rem;
    transition: .5s;
    font-size: 14px;
}

    .btn-upload-template:hover,
    .btn-upload-avatar:hover,
    .uploadBg__label:hover{
        background: var(--primary-color);
        color: #fff;
    }

input[type="file"] {
    margin: 0.25rem;
}

/* FILE */
input[type="file"] {
    display: none;
}

.crop-bg-button,
.crop-avt-button {
    display: flex;
    justify-content: flex-end;
}

.cr-boundary,
.cr-vp-square {
    border-radius: 2rem;
    overflow: hidden;
}

.closeModal {
    font-size: 1vw;
    margin-right: 2rem;
    cursor: pointer;
}

