@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Quintessential&display=swap");

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 1vw;
}

body {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    background-image: -moz-linear-gradient( 90deg, rgb(205, 199, 255), rgb(184, 234, 255) );
    background-image: -webkit-linear-gradient( 90deg, rgb(205, 199, 255), rgb(184, 234, 255) );
    background-image: linear-gradient( 90deg, rgb(205, 199, 255), rgb(184, 234, 255) );
    background-position: center;
    background-repeat: round;
    background-size: contain;
    margin: 0;
}

.container {
    height: 100%;
    height: calc(100% - 54px);
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container__main {
    /* Take the remaining height */
    flex-grow: 1;
    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
}
.container__left {
    width: 33.33%;
    height: calc(100% - 18px);
    padding: 0;
    margin: 0;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    /* background-color: #273c75; */
    color: #f5f6fa;
    border-radius: 0 40px 40px 0;
    font-family: "Inter", sans-serif;
    position: relative;
    overflow: hidden;
}

.container__center {
    flex-grow: 1;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    height: calc(100% - 18px);
    padding: 0;
    margin: 0;
    width: 33.33%;
    justify-content: center;
}

.arrow {
    width: 40px;
    height: 40px;
    top: 50%;
    left: calc(100% - 30px);
    position: absolute;
}

    .arrow i:hover {
        color: white;
    }

.container__template {
    width: 100%;
    height: 100%;
    font-family: Karla;
    align-items: center;
    display: flex;
    justify-content: center;
    /* overflow: auto; */
}

/* AVATAR */
/* .file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
} */
input[type="file"] {
    display: none;
}

.fileAvt__label {
    color: #fff;
    height: 30px;
    width: 180px;
    background-color: #f39c12;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.file-input {
    display: flex;
    justify-content: center;
}

    .file-input label {
        display: block;
        position: relative;
        width: 60%;
        height: 35px;
        border-radius: 25px;
        background: linear-gradient(40deg, #e67e22, #e74c3c);
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.2s ease-out;
    }

.template__container {
    position: relative;
    width: 70%;
    height: calc(100% - 18px);
    /* parents - header s - margin  */
    overflow: auto;
    background: #f5f6fa;
    color: #2f3640;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 30px;
}

    .template__container fieldset {
        margin: 14px;
    }

.template__detail {
    overflow: auto;
    overflow-x: hidden;
    height: calc(100% - 98px);
}

.template__header {
    position: sticky;
    top: 0;
    background-color: #f5f6fa;
    z-index: 1;
}

    .template__header h3 {
        text-align: center;
        font-family: "Quintessential";
        font-size: 24px;
        letter-spacing: 4px;
    }

.template__detail::-webkit-scrollbar {
    display: none;
}

.template__detail > ul {
    list-style: none;
    position: absolute;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
}

.template__detail ul {
    height: 100%;
}

.inf-temp {
    cursor: pointer;
}

    .inf-temp > p {
        text-align: center;
    }

.template__detail ul li:not(:first-child) {
    margin-top: 1%;
}

.name-temp {
    margin: 2px 0 16px 0;
}

.divider {
    width: 80%;
    height: 2px;
    background-color: #2c2c2c;
    margin-left: 10%;
}

.container {
    display: flex;
    flex-direction: column;
}

.contener {
    display: flex;
    border: 0px !important;
    width: 80.5%;
    height: 100%;
    cursor: pointer;
    justify-content: center;
}

.card__contener {
    position: relative;
    background-color: #f5f6fa;
    min-width: 22vw;
    border-radius: 40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow: hidden;
    margin: 10px;
    padding: 12px;
    max-height: 531px;
    background-size: cover;
    background-repeat: round;
}

.card__contener--header {
    margin: 11px 8px 11px 8px;
    display: flex;
    justify-content: center;
}

    .card__contener--header img {
        width: 25%;
        border-radius: 50%;
    }

.card__contener--body {
    width: 100%;
    /* height: calc(
    100% - 120px - 22px - 80px
  ); full height - header height - Card header */
    height: 70%;
    overflow: auto;
    position: relative;
}

    .card__contener--body ul li {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        list-style: none;
    }

    .card__contener--body ul {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

.button {
    /* Center the content */
    align-items: center;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    width: 90%;
    height: 12%;
    /* background: #273c75; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 11px 8px 11px 8px;
    color: #f5f6fa; /*color row*/
    overflow: hidden;
}

.card__contener--body ul li:not(:first-child) {
    margin-top: 11px;
    /* 2.51% */
}

.button:hover {
    cursor: pointer;
}

.button i {
    font-size: 2.1vw;
}

.button label {
    font-family: "Karla", sans-serif;
}

.card--item__text {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1vw;
}

.card__contener--footer {
    position: absolute;
    height: 8%;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logo--mini {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
}

.container__right {
    width: 33.33%;
    font-family: "Inter", sans-serif;
    display: none;
    overflow: auto;
    height: calc(100% - 18px);
    justify-content: center;
}

.right__field {
    width: calc(80.5% - 42px);
    background: #fff;
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
    overflow: auto;
    overflow-x: hidden;
}

.img-temp {
    width: 140px;
    height: 170px;
}

.btn-addTemp {
    border-radius: 6px;
    border: 1px solid;
    cursor: pointer;
    height: 35px;
    background-color: #e67e22;
    color: #fff;
    padding: 8px;
    transition: 0.5s;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    font-size: 12px;
}

    .btn-addTemp:hover {
        background-image: linear-gradient(to right, #e67e22, #e74c3c);
        height: 40px;
    }

.btn-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#addNewUrl,
#saveEdit {
    width: 100px;
    border-radius: 6px;
    border: 1px solid;
    cursor: pointer;
    height: 35px;
    background-color: #e67e22;
    color: #fff;
    padding: 8px;
    transition: 0.5s;
    position: relative;
    font-size: 12px;
}

    #addNewUrl:hover,
    #saveEdit:hover {
        background-image: linear-gradient(to right, #e67e22, #e74c3c);
        height: 40px;
    }

/* CONTAINER RIGHT */
.url-area {
    border: 1px solid;
    margin: 15px 0;
    padding: 8px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid;
    margin: 6px 0;
    width: 90%;
}

input[type="radio"] {
    display: inline-block;
}

/* INPUT TITLE & URL */
.title__input,
.url__input {
    position: relative;
    margin-bottom: 10px;
}

.title__label,
.url__label,
.code__label,
.age__label {
    position: absolute;
    top: 0px;
    left: 10px;
    background: #fff;
    color: #e67e22;
    font-weight: 400;
    transition: 0.4s;
    font-size: 12px;
}
/* 
#titleUrl:focus ~ .title__label {
  top: 0px;
  left: 10px;
  background: #fff;
  color: #e67e22;
  font-weight: 400;
} */

/* FONT */
.font-area {
    margin: 15px 0px;
    display: none;
}

#fs {
    padding: 4px;
    text-align: center;
    width: 80%;
    margin: 10px 27px;
}

/* BULLET */
.bullet-area {
    display: none;
}

.bulletResult {
    border: 1px solid transparent;
}

table {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

    table tr td {
        cursor: pointer;
    }

/* GATE */
.gate__item {
    display: flex;
    align-items: center;
}

    .gate__item span {
        padding-left: 15px;
    }

.gate-area {
    display: none;
}

.code-form,
.age-form {
    display: none;
    position: relative;
    margin: 5px;
}

.error-icon {
    position: absolute;
    right: -5px;
    color: red;
    top: 13px;
}

i.fas.fa-exclamation-circle {
    display: none;
}

.applyCode,
.applyAge {
    background-color: #fff;
    border: 1px solid;
    padding: 8px;
    width: 40%;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 4px;
    margin-left: 60%;
}

    .applyAge:hover,
    .applyCode:hover {
        background-color: #e67e22;
        color: #fff;
    }

/* @media only screen and (max-width: 800px) {
  .container__left {
    display: none;
  }
  .contener {
    display: flex;
    border: 0px !important;
    width: 90%;
    min-width: 450px;
  }
  .button i {
    font-size: 10vw;
  }
  .card--item__text {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 5vw;
  }
} */

@media only screen and (max-width: 800px) {
    /* CONTAINER RIGHT */
    * {
        font-size: 12px;
    }

    .template__container {
        margin-left: 15px;
        border-radius: 20px;
    }

    .img-temp {
        width: 100px;
        height: 130px;
    }

    .btn-addTemp {
        font-size: 9px;
        height: 25px;
        padding: 4px;
    }

    .button {
        padding: 4px;
    }

    .card__contener--header {
        margin: 8px;
    }

        .card__contener--header img {
            width: 40%;
        }

    .container__right {
        width: 35%;
    }

    .file-input label {
        height: 25px;
    }

    input[type="text"],
    input[type="number"] {
        padding: 5px;
    }

    .radio-area {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .container__right {
        overflow: auto;
        overflow-x: hidden;
    }

    body {
        overflow: auto;
        overflow-x: hidden;
        background-repeat: no-repeat;
    }

    .title__label,
    .url__label,
    .code__label,
    .age__label {
        top: 1px;
        font-size: 8px;
    }

    .applyCode,
    .applyAge {
        padding: 0;
    }

    .container__center {
        position: relative;
        left: 5%;
    }
}

/* KEYFRAMES */
/* ----------------------------------------------
 * Generated by Animista on 2022-2-10 13:23:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
}

.btn-upload-template,
.btn-upload-avatar {
    margin: 10px;
    float: right;
    padding: 0.7em;
    background-image: linear-gradient(95deg, #e67e22, #e74c3c);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    height: 35px;
}

    .btn-upload-template:hover,
    .btn-upload-avatar:hover {
        height: 40px;
    }

.right__field > h3 {
    letter-spacing: 2px;
    font-family: cursive;
    margin: 0px auto;
    border-bottom: 2px solid;
    border-bottom-color: #e67e22;
    font-size: 2rem;
    font-weight: 400;
}

.social-list li {
    position: relative;
}

.report {
    position: absolute;
    right: 1rem;
    color: #fff;
    cursor: pointer;
}

.btn-upload-template,
.btn-upload-avatar {
    float: right;
    margin: 0.75rem;
    padding: 0.55rem;
    background-image: linear-gradient(to right, #e67e22, #e74c3c);
    border: none;
    color: #fff;
    border-radius: 0.35rem;
    cursor: pointer;
}

.right__field h3 {
    font-family: cursive;
    font-size: 1.45rem;
    margin: 0;
    border-bottom: 2px solid var(--primary-color);
}

.cr-vp-square {
    border-radius: 2rem;
    overflow: hidden;
}