@*@{
        ViewBag.Title = "Home";
        Layout = "~/Views/Shared/Header.cshtml";
    }*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/CSS/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="header_container">
            <div class="header_container--left">
                <a href="#"><img src="~/resource/logo/logo_full.svg" alt="logo"></a>
            </div>
            <div class="header_container--right">
                <div class="header_button">
                    <input type="button" class="button-3" value="Sign Up" onclick="window.location.href = '@Url.Action("Sigup", "Account" )';" />
                </div>
                <input type="button" class="button-3" value="Log In" onclick="window.location.href = '@Url.Action("Login", "Account" )';" />
            </div>
        </div>
    </header>

    <div class="container">
        <div class="img-home">
            <img src="~/resource/logo/Asset 4Dcontact_single.svg">
        </div>
        <div class="menu">
            <span class="text1">Welcome To<br>DContact</span>
        </div>
    </div>
</body>
</html>