<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.name | DContact</title>
    <link rel="stylesheet" href="~/CSS/LinkContact.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a0a7c0f0d8.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="container__right scrollbar-hidden">
        <div class="contener">
            <div class="card__contener">
                <div class="card__contener--header">
                    <img src="resource/logo/logo_full.svg" alt="avatar" />
                </div>
                <center style="font-family: cursive; margin: 0.75rem;">&#64;@ViewBag.name</center>
                <div class="card__contener--body scrollbar-hidden">
                    <ul>
                        <li>
                            <span class="report"><abbr title="Click here to report this link"><i class="fa fa-exclamation-triangle"></i></abbr></span>
                            <div class="button"
                                 role="button"
                                 style="background-color: #273c75">
                                <i class="fa fa-facebook-square"></i>
                                <!-- Label -->
                                <div class="card--item__text">
                                    <label>Facebook</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="report"><abbr title="Click here to report this link"><i class="fa fa-exclamation-triangle"></i></abbr></span>

                            <div class="button"
                                 role="button"
                                 style="background-color: #e1b12c">
                                <i class="fa fa-instagram"></i>
                                <!-- Label -->
                                <div class="card--item__text">
                                    <label>Instagram</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="report"><abbr title="Click here to report this link"><i class="fa fa-exclamation-triangle"></i></abbr></span>
                            <div class="button"
                                 role="button"
                                 style="background-color: #c23616">
                                <i class="fa fa-youtube-play"></i>
                                <!-- Label -->
                                <div class="card--item__text">
                                    <label>YouTube</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="report"><abbr title="Click here to report this link"><i class="fa fa-exclamation-triangle"></i></abbr></span>
                            <div class="button"
                                 role="button"
                                 style="background-color: #40739e">
                                <i class="fa fa-phone"></i>
                                <!-- Label -->
                                <div class="card--item__text">
                                    <label>Phone</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card__contener--footer">
                    <div class="logo--mini">
                        <img src="resource/logo/logo_full.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="modalReport">
        <div class="modalContainer">
            <div class="modalHeader">
                <h3>REPORT</h3>
                <i class="fa fa-close"></i>
            </div>
            <div class="bodySendMail">
                <div class="modalBody">
                    <span>Email</span><input type="email" name="Email" id="mailReport"><br>
                </div>
                <button class="btn-sendCode" type="submit">SEND CODE</button>
            </div>

            <div class="bodyVerify">
                <div class="modalBody">
                    <span>Code</span><input type="number" name="Code" id="codeVerify"><br>
                </div>
                <button class="btn-verifyCode" type="submit">SUBMIT</button>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('.report').on('click', function () {
            $('.modalReport').addClass('open');
        })
        $('.modalReport').on('click', '.fa-close', function () {
            $('.modalReport').removeClass('open');
        })

        $('.btn-sendCode').on('click', function () {
            $('.bodySendMail').hide();
            $('.bodyVerify').show();
        })
    });</script>
</html>
