<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DContact</title>
    <link rel="stylesheet" href="~/CSS/LinkContact.css" />
</head>
<body>
    <nav class="container__right">
        <div class="contener">
            <div class="card__contener">
                <div class="card__contener--header">
                    @*<img src="@ViewBag.Dcontact.avt" alt="avatar" />*@
                    <img src="https://focusasiatravel.vn/wp-content/uploads/2021/04/trantuanviet-bavi-hanoi-1617326198.jpg" alt="avatar" />
                </div>
                <center id="username_user" style="font-family: cursive; margin: 15px">&#64username</center>
                <div class="card__contener--body scrollbar-hidden">
                    <ul>
                        <li>
                            <div class="button"
                                 role="button"
                                 style="background-color: #273c75">
                                <i class="fa fa-facebook-square"></i>
                                <!-- Label -->
                                <div class="card--item__text">
                                    <label>Facebook</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="button"
                                 role="button"
                                 style="background-color: #e1b12c">
                                <i class="fa fa-instagram"></i>
                                <!-- Label -->
                                <div class="card--item__text">
                                    <label>Instagram</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="button"
                                 role="button"
                                 style="background-color: #c23616">
                                <i class="fa fa-youtube-play"></i>
                                <!-- Label -->
                                <div class="card--item__text">
                                    <label>YouTube</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="button"
                                 role="button"
                                 style="background-color: #40739e">
                                <i class="fa fa-phone"></i>
                                <!-- Label -->
                                <div class="card--item__text">
                                    <label>Phone</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card__contener--footer">
                    <div class="logo--mini">
                        <a class="logo--mini" href="home">
                        <img src="~/resource/logo/logo_full.svg" alt="logo"  />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>

