@{

}
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/Form.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/modal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/f94076876e.js" crossorigin="anonymous"></script>

</head>
<body>
    <script type="text/javascript" src="~/MyScript/Validation.js"></script>

    <div class="container">
        <div class="header">
            <h2>Enter Vertify Code</h2>
        </div>
        <form id="comfirmForm" class="form" action="@Url.Action("CreateNewPassword", "Account" )">
            <div class="form-control">
                <input type="text" id="username" name="username"
                       placeholder="Username"
                       onfocus="this.placeholder=''"
                       onblur="this.placeholder=''" />
                <small>Error message</small>
            </div>
            <button id="open" type="submit">Submit</button>
        </form>
    </div>

    <div class="modal-container" id="modal_container">
        <div class="modal">
            <i class="fas fa-exclamation fa-2x"></i>
            <p>Incorrect login details. Please retry</p>
            <button id="close" class="button">
                Ok
            </button>
        </div>
    </div>

</body>
