@{

}
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/Form.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/modalAccount.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/f94076876e.js" crossorigin="anonymous"></script>

</head>
<body>
    <script type="text/javascript" src="~/MyScript/Validation.js"></script>
    @{ 
        string type = ViewBag.typeChange;
        string action = "";
        if (type == "email")
        {
            action = "ComfirmFormEmail";
        }
        else
        {
            action = "ComfirmForm";
        }

    }
    <div class="container">
        <div class="header">
        
            <h2>Verification code has been sent to email @ViewBag.typeChange</h2>
        </div>
        <form id="comfirmForm" class="form" action="@Url.Action(action, "Account")">
            <div class="form-control">
                <input type="text" id="vertifyCode" name="vertifyCode"
                       placeholder="vertify Code"
                       onfocus="this.placeholder=''"
                       onblur="this.placeholder=''" />
                <small>Error message</small>
            </div>
            <button id="open" type="submit">Submit</button>
        </form>
    </div>

    @{
        string msg = ViewBag.msg;
        string open = "";

        if (msg != null)
        {
            open = "open";
        }
    }
    <div class="modal js-modal @open">
        <div class="modal-container">
            <div class="modal__header">
                <i class="fas fa-exclamation fa-2x"></i> <i class="fa fa-close"></i>
            </div>
            <div class="modal__contener">
                <p>@msg</p>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".modal").on('click', '.fa-close, button#close', function () {
                $('.modal').removeClass('open');
            });
            $("header").load("header.html");
        });
    </script>

</body>
