
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/Form.css">
    <script src="https://kit.fontawesome.com/f94076876e.js" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container">
        <div class="header">
            <h2>Enter Vertify Code</h2>
        </div>
        <form id="form" class="form" action="Login.html" onsubmit="return checkInputs()">

            <div class="form-control">
                <input type="text" id="password"
                       placeholder="Vertify Code"
                       onfocus="this.placeholder=''"
                       onblur="this.placeholder='Vertify Code'"/>
               
                <small>Error message</small>
            </div>
            <button id="open">Submit</button>
        </form>
    </div>
      <!-- Modal comfirm code sai -->
       <!-- <div class="modal-container" id="modal_container">
        <div class="modal">
          <i class="fas fa-exclamation fa-2x"></i>
          <p>The code is wrong. Please retry</p>
          <button id="close" class="button">
            Ok
          </button>
        </div>
      </div>  -->

    <script type="text/javascript" src="/Scripts/Validation.js"></script>
    <script type="text/javascript" src="/Scripts/Modal.js"></script>

</body>
