
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/Form.css">

    <script type="text/javascript" src="/Scripts/Validation.js"></script>


</head>
<body>

    <div class="container">
        <div class="header">
            <h2>Create New Password</h2>
        </div>
        <form id="form" class="form" action="Login.html" onsubmit="return checkInputs()">


            <div class="form-control">
                <input type="password" id="password"
                       placeholder="New Password"
                       onfocus="this.placeholder=''"
                       onblur="this.placeholder='New Password'" />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <input type="password" id="password2"
                       placeholder="Confirm password"
                       onfocus="this.placeholder=''"
                       onblur="this.placeholder='Confirm password'" />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <button>Submit</button>
        </form>
    </div>
</body>
