
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/Form.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/modal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/f94076876e.js" crossorigin="anonymous"></script>

</head>
<body>
    <script type="text/javascript" src="~/MyScript/Validation.js"></script>

    <div class="container">
        <div class="header">
            <h2>Login Your Account</h2>
        </div>
        <form id="form" class="form" action="@Url.Action("LoginForm", "Account" )">
            <div class="form-control">
                <input type="text" id="username" name="username"
                       placeholder="Username"
                       onfocus="this.placeholder=''"
                       onblur="this.placeholder='username'" />
                <small>Error message</small>
            </div>

            <div class="form-control">
                <input type="password" id="password" name="password"
                       placeholder="Password"
                       onfocus="this.placeholder=''"
                       onblur="this.placeholder='password'" />

                <small>Error message</small>
            </div>

            <button id="open" type="submit">Login</button>
        </form>
        <div class="SignUp">
            <span class="txt1">
                Don't have an account?
            </span>
            @*<a class="txt2" href="Sigup.html">
                Sign Up
                </a>*@

            <a class="txt2">
                @Html.ActionLink("Sign Up", "Sigup", "Account")
            </a>

        </div>

        <div class="Recover">
            <span class="txt1">
                Forgot Your Password?
            </span>


            @* <a class="txt2" href="RecoverPassword.html">
                    Recover Password
                </a>*@

            <a class="txt2">
                @Html.ActionLink("Recover Password", "RecoverPassword", "Account")
            </a>

        </div>
    </div>

    <div class="modal-container" id="modal_container">
        <div class="modal">
            <i class="fas fa-exclamation fa-2x"></i>
            <p>Incorrect login details. Please retry</p>
            <button id="close" class="button">
                Ok
            </button>
        </div>
    </div>



</body>
