
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/Form.css">
    
</head>
<body>

    <div class="container">
        <div class="header">
            <h2>Enter Your Email</h2>
        </div>
        <form id="form" class="form" action="@Url.Action("Comfirm", "Account" )" onsubmit="return checkGmail()">
           
            <div class="form-control">
                <input type="text" id="email"
                       placeholder="Email"
                       onfocus="this.placeholder=''"
                       onblur="this.placeholder='Email'" />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script type="text/javascript" src="~/MyScript/Validation.js"></script>
</body>
