<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/CSS/error.css">
    <title>ERROR</title>
</head>

<body>
    <div id="container-error">
        <div class="container-error">
            <h1 class="title-error">PAGE NOT FOUND</h1>
            <h2 class="title-error"><i class="fa-thin fa-face-confounded"></i></h2>
            <p class="content-error">The page you're going to doesn't seem to exist.</p>
            <p class="content-error">Make sure you entered the correct URL, check again, please!</p>
            <p>
                <a class="chuyentrang" href="home" title="Home Page">Home</a>
            </p>
        </div>
    </div>
    <script>
    @{
        string ex =(string)TempData["ex"];
    }
    console.log('@ex')
    </script>
</body>
</html>
