@{
    ViewBag.Title = "createDCard";
    Layout = "~/Views/Shared/Header.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create DCard</title>
    <link rel="stylesheet" href="~/CSS/create_DCard.css" />
    <link rel="stylesheet" href="~/CSS/switch.css" />
    <script src="https://kit.fontawesome.com/a0a7c0f0d8.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css'>
    <script src="https://unpkg.com/merge-images"></script>

</head>
@*@ no tinh la code c# *@
<style>
    <style>
@*    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap');*@
        import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap');
</style>
<div class="card-body">
    <div class="crop-area">
        <div class="card" id="cardBg">
            <div class="card__display">
                <div class="card--top">
                    <div class="card--left cmn-card">
                        <img id="avatar-result" alt="avatar" src="" />
                        <div class="left-text cmn-result"></div>
                    </div>
                    <div class="card--right cmn-card">
                        <img id="avatar-result-right" alt="avatar" src="" />
                        <div class="right-text cmn-result"></div>
                    </div>
                </div>
                <div class="card--center cmn-card">
                    <div class="center__center">
                        <img id="avatar-result-center" alt="avatar" src="" />
                        <div class="center-text cmn-result"></div>
                    </div>

                </div>
                <div class="img__position right-row">
                    @*<img id="avatar-result" alt="avatar" src="/Uploads/3b20ec9c05144b33bfde7621804188dd.png" />*@
                </div>

            </div>
            @*<div class="leftResult cmnResult"></div>
                <div class="rightResult cmnResult"></div>
                <div class="centerResult cmnResult"></div>
                <div class="bottomResult cmnResult"></div>*@
            <img src="/resource/logo/logo_full.svg" alt="Logo" class="logo-dcard" />
            <div class="qrcode"></div>
            @* <div id="upload-background"></div>*@
        </div>

        @*avatar crop load*@
        <!--<div class="cropAvatar">
            <span class="cropHeader">
                <h3>CROP AVATAR</h3>
            </span>
            <button class="btn btn-success btn-block btn-upload-avatar">Upload Image</button>
            <div id="upload-avatar"></div>-->
        @* Noi load anh khi chon file anh*@
        <!--</div>

        <img id="merge-image" src="" width="128" style="display:none">-->


    </div>



    <div class="edit-card">
        <span class="input-link">
            <input required type="text" placeholder="Enter your DContact link" id="linkContact" />
            <span class="error-icon"><abbr title="Enter valid link before Create QR Code"><i class="fas fa-exclamation-circle"></i></abbr> </span>
        </span> </br>
        <div class="toggle-area">
            <div class="toggle-switch">
                <label class="switch">
                    <input type="checkbox" value="false" id="toggleBg" />
                    <span class="slider round"></span>
                </label>
                <p>Edit Background</p>
            </div>

            @*<span class="upload">
                    <input type="file" id="image-template" accept="image/png, image/gif, image/jpeg">
                </span>*@

            <div class="toggle-switch">
                <label class="switch">
                    <input type="checkbox" value="false" id="toggleAvt" />
                    <span class="slider round"></span>
                </label>
                <p>Avatar</p>
            </div>
           

            @* Set position for avatar *@
            <div class="choosePosition">
                <table border="0" width="300px">
                    Position
                    <tr>
                        <td>
                            <input type="radio" id="leftAvt" name="positionAvt" value="left" checked>
                            <label for="left">Left</label><br>
                        </td>
                        <td>
                            <input type="radio" id="centerAvt" name="positionAvt" value="center">
                            <label for="leftAvt">Center</label><br>
                        </td>
                        <td>
                            <input type="radio" id="rightAvt" name="positionAvt" value="right">
                            <label for="leftAvt">Right</label><br>
                        </td>
                    </tr>
                </table>
                <input type="button" value="Set Position" id="avtBtn">
            </div>

            <div class="toggle-switch">
                <label class="switch">
                    <input type="checkbox" value="false" id="toggleQR" />
                    <span class="slider round"></span>
                </label>
                <p>QR Code</p>
            </div>

        </div>

        <input type="button" id="next" class="btn-order" value="NEXT" />

    </div>
    @* MODAL CROP BACKGROUND *@
    <div class="modal js-modal" id="modal__crop--bg">
        <div class="modal-container">
            <div class="modal__contener-bg">

                @*background crop load*@
                <div class="cropBackground">
                    <span class="cropHeader">
                        <h3>CROP BACKGROUND</h3> <i class="fa fa-close closeModal closeBgModal"></i>
                    </span>

                </div>
                <div id="upload-template"></div>
                <div class="crop-bg-button">
                    <div>
                        <span class="upload">
                            <input type="file" id="image-template" accept="image/png, image/gif, image/jpeg">
                            <label for="" class="uploadBg__label">Select file</label>
                        </span>
                    </div>
                    <div>
                        <button class="btn btn-success btn-block btn-upload-template" id="upload_background">Upload Image</button>
                    </div>
                </div>
            </div>
            <div class="modal_foo right__site">
            </div>
        </div>
    </div>

    @* MODAL CROP AVATAR *@
    <div class="modal js-modal" id="modal__crop--avt">
        <div class="modal-container">
            <div class="modal__contener-avt">
                @*avatar crop load*@
                <div class="cropAvatar">
                    <span class="cropHeader">
                        <h3>CROP AVATAR</h3> <i class="fa fa-close closeModal closeAvtModal"></i>
                    </span>
                    <div id="upload-avatar"></div> @* Noi load anh khi chon file anh*@
                </div>
                <div class="crop-avt-button">
                    <div>
                        @*file upload avatar*@
                        <span class="uploadAvt">
                            <div class="file-input">
                                <input type="file" id="image-avatar" accept="image/png, image/gif, image/jpeg">   @*an bang bang css , kich hoat bang click file__label*@
                                <label for="" class="uploadAvt__label">Select file</label>
                            </div>
                        </span>
                    </div>
                    <div>
                        <button class="btn btn-success btn-block btn-upload-avatar" id="upload_avatar">Upload Image</button>
                    </div>
                </div>
                <img id="merge-image" src="" width="128" style="display:none">

                <div class="modal_foo right__site">
                </div>
            </div>
     </div>
    </div>
    
    <script>

        var bgURL = "";
        var avtURL = "";
        var qrURL = "";

        $(window).bind("pageshow", function (event) {
            if (event.originalEvent.persisted) {
                window.location.reload()
            }
        });

        function convertImgToBase64URL(url, callback, outputFormat) {
            var img = new Image();
            img.crossOrigin = 'Anonymous';
            img.onload = function () {
                var canvas = document.createElement('CANVAS'),
                    ctx = canvas.getContext('2d'), dataURL;
                canvas.height = img.height;
                canvas.width = img.width;
                ctx.drawImage(img, 0, 0);
                dataURL = canvas.toDataURL(outputFormat);
                callback(dataURL);
                canvas = null;
            };
            img.src = url;
        }

       

        function UploadQRImage(URL) {
            convertImgToBase64URL(URL, function (base64Img) {
                setTimeout(function () {
                    if (base64Img != "") {
                        var block = base64Img.split(";");
                        var contentType = block[0].split(":")[1];
                        var realData = block[1].split(",")[1];
                        var image_qr = b64toBlob(realData, contentType);
                        var fqrData = new FormData();
                        fqrData.append('image', image_qr);
                        qrURL = uploadImage(fqrData);
                        console.log(qrURL);
                    }
                }, 500);
            });

        }




        function deleteFile(path) {
            $.ajax({
                origin: '*',
                type: "post",
                url: "DcontactAndDcrad/DeleteFileFromFolder",
                data: {
                    path: path
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('body').html(jqXHR.responseText);
                }
            });
        }

        function textPosition(position, rs) {
            position = '.' + position + '-text'
            $(position).text(rs)
        }

        function uploadImage(formData) {
            var rep = '';
            $.ajax({
                type: "POST",
                url: "api/ImageAPI/UploadFiles",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                async: false,
                success: function (response) {
                    console.log(response);
                    rep = response + '';
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('body').html('error: ' + jqXHR.responseText);
                    console.log('error: ' + jqXHR.status);
                }
            });
            return rep;
        }

        function b64toBlob(b64Data, contentType, sliceSize) {
            contentType = contentType || '';
            sliceSize = sliceSize || 512;

            var byteCharacters = atob(b64Data);
            var byteArrays = [];

            for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                var slice = byteCharacters.slice(offset, offset + sliceSize);

                var byteNumbers = new Array(slice.length);
                for (var i = 0; i < slice.length; i++) {
                    byteNumbers[i] = slice.charCodeAt(i);
                }

                var byteArray = new Uint8Array(byteNumbers);

                byteArrays.push(byteArray);
            }

            var blob = new Blob(byteArrays, { type: contentType });
            return blob;
        }

            function UploadMergeImage() {
                setTimeout(function () {
                    var mergeImage64 = $('#merge-image').attr('src');
                    var block = mergeImage64.split(";");
                    var contentType = block[0].split(":")[1];
                    var realData = block[1].split(",")[1];
                    var image_merge = b64toBlob(realData, contentType);
                    var favtData = new FormData();
                    favtData.append('image', image_merge);
                    var image_merge_url = uploadImage(favtData);
                    RedirectOderDcard(image_merge_url);
                }, 500);
            }

            function RedirectOderDcard(image_merge_url) {
                    $.ajax({
                        origin: '*',
                        type: "post",
                        url: "/DcontactAndDcrad/upURL",
                        data: {
                            image_merge: image_merge_url
                        },
                        success: function (msg) {
                            window.location.href = '@Url.Action("oder_dcard", "DcontactAndDcrad")?image_merge_url=' + msg;
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $('body').html(jqXHR.responseText);
                        }
                    });
            }

        function MergeImageBgAvtQr(bgURL, avtURL, qrURL) {

            if ($('#rightAvt').is(':checked')) {                //right avatar
                mergeImages([
                    { src: bgURL },
                    { src: qrURL },
                    { src: avtURL, x: 408, y: 8 },
                    { src: '/resource/logo/rsz_logo_full.png', x: 225, y: 210 }
                ]).then(b64 => document.querySelector('#merge-image').src = b64);

            } else if ($('#centerAvt').is(':checked')) {        //center avatar
                mergeImages([
                    { src: bgURL },
                    { src: qrURL, x: 408 },
                    { src: avtURL, x: 210, y: 90 },
                    { src: '/resource/logo/rsz_logo_full.png', x: 225, y: 210 }
                ]).then(b64 => document.querySelector('#merge-image').src = b64);

                } else {                                            //left avatar
                    mergeImages([
                        { src: bgURL },
                        { src: qrURL, x: 408 },
                        { src: avtURL, x: 8, y: 8 },
                        { src: '/resource/logo/rsz_logo_full.png', x: 225, y: 210 }
                    ]).then(b64 => document.querySelector('#merge-image').src = b64);
                }
                UploadMergeImage();
            }

        function MergeImageBg(bgURL,qrURL) {

            if ($('#rightAvt').is(':checked')) {                //right avatar
                mergeImages([
                    { src: bgURL },
                    { src: qrURL, x: 408 },
                    { src: '/resource/logo/rsz_logo_full.png', x: 225, y: 210 }
                ]).then(b64 => document.querySelector('#merge-image').src = b64);

            } else if ($('#centerAvt').is(':checked')) {        //center avatar
                mergeImages([
                    { src: bgURL },
                    { src: qrURL, x: 408 },
                    { src: '/resource/logo/rsz_logo_full.png', x: 225, y: 210 }
                ]).then(b64 => document.querySelector('#merge-image').src = b64);

                } else {                                            //left avatar
                mergeImages([
                    { src: bgURL},
                    { src: qrURL,x:408},

                    { src: '/resource/logo/rsz_logo_full.png', x: 225, y: 210 }
                    ]).then(b64 => document.querySelector('#merge-image').src = b64);
                }
                UploadMergeImage();
        }

        function MergeImageAvt(avtURL,qrURL) {

            if ($('#rightAvt').is(':checked')) {                //right avatar
                mergeImages([
                    { src: qrURL, x: 8, y: 8 },
                    { src: avtURL, x: 408, y: 8 },
                    { src: '/resource/logo/rsz_logo_full.png', x: 225, y: 210 }
                ]).then(b64 => document.querySelector('#merge-image').src = b64);

            } else if ($('#centerAvt').is(':checked')) {        //center avatar
                mergeImages([
                    { src: qrURL, x: 408, y: 8 },
                    { src: avtURL, x: 210, y: 90 },
                    { src: '/resource/logo/rsz_logo_full.png', x: 225, y: 210 }
                ]).then(b64 => document.querySelector('#merge-image').src = b64);

            } else {                                            //left avatar
                mergeImages([
                    { src: qrURL, x: 408, y: 8 },
                    { src: avtURL, x: 8, y: 8 },
                    { src: '/resource/logo/rsz_logo_full.png', x: 225, y: 210 }
                ]).then(b64 => document.querySelector('#merge-image').src = b64);
            }
            UploadMergeImage();
        }


            function getAvatar() {
                var avatar = "";

                if ($('#rightAvt').is(':checked')) {                //right avatar
                    avatar = $('#avatar-result-right').attr('src');

            } else if ($('#centerAvt').is(':checked')) {        //center avatar
                avatar = $('#avatar-result-center').attr('src');

            } else {                                            //left avatar
                avatar = $('#avatar-result').attr('src');
            }
            return avatar;
        }

        function getBackground() {
            return $('#cardBg').css('background-image')
        }

            $('#upload_background').on('click', function () {
                setTimeout(function () {
                    var background = getBackground();
                    if (background != "none") {
                        background = background.replace('url(', '').replace(')', '').replace(/\"/gi, "");
                        var block = background.split(";");
                        var contentType = block[0].split(":")[1];
                        var realData = block[1].split(",")[1];
                        var image_bg = b64toBlob(realData, contentType);
                        var fBgData = new FormData();
                        fBgData.append('image', image_bg);
                        bgURL = uploadImage(fBgData);
                    }
                }, 500);

            });

            $('#upload_avatar').on('click', function () {
                setTimeout(function () {
                    var avatar = getAvatar();
                    if (avatar != "") {
                        var block = avatar.split(";");
                        var contentType = block[0].split(":")[1];
                        var realData = block[1].split(",")[1];
                        var image_avt = b64toBlob(realData, contentType);
                        var favtData = new FormData();
                        favtData.append('image', image_avt);
                        avtURL = uploadImage(favtData);
                    }
                }, 500);
            });

        $(document).ready(function () {
            $('.uploadBg__label').on('click', function () {
                $('#image-template').click();
            })

            $('.uploadAvt__label').on('click', function () {
                $('#image-avatar').click();
            })

            $('.closeBgModal').on('click', function () {
                $("#toggleBg").click();
                $('.cropBackground').hide();
                $('#modal__crop--bg').css('display', 'none');
            })

            $('.closeAvtModal').on('click', function () {
                $('.cropAvatar').hide();
                $('#modal__crop--avt').css('display', 'none');
            })

                $('#next').on('click', function () {
                    setTimeout(function () {
                        if (avtURL == "" && bgURL != "" && qrURL != "") {
                            MergeImageBg(bgURL, qrURL);
                            deleteFile(bgURL);
                            deleteFile(qrURL);
                        } else if (avtURL != "" && bgURL == "" && qrURL != "") {
                            @*MergeImageAvt(avtURL, qrURL);
                            deleteFile(avtURL);*@
                            alert("Please Choose BackGround")
                        }
                        else if (bgURL != "" && avtURL != "" && qrURL != "") {
                            MergeImageBgAvtQr(bgURL, avtURL, qrURL);
                            deleteFile(bgURL);
                            deleteFile(avtURL);
                            deleteFile(qrURL);
                        } else if (qrURL == "") {
                            alert("Please Choose BackGround And QR Code")
                        }

                    }, 500);
                });

                //Background button
                $('.btn-cancel').on('click', function () {
                    $('#modal').hide();
                })
                // Avatar Button
                $('.btn-cancelAvt').on('click', function () {
                    $('#modalAvt').hide();
                })

            //   set position text
            $('#btnRadio').on('click', function () {
                //textcolor
                $(".cmn-result").empty();
                var rdoChecked = $('input[name="position"]:checked').val();
                var rs = $('#textDesc').val();
                textPosition(rdoChecked, rs);
                $('#chooseTextColor').on('change', function () {
                    $('.cmn-result').css('color', $(this).val());
                });
            });

            //   toggleBackground
            $("#toggleBg").on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'true');
                    $('#modal__crop--bg').addClass('open');
                }
                else {
                    $(this).attr('value', 'false');
                    $('cropBakcground').hide();
                    $('#modal__crop--bg').removeClass('open');
                }
            });

            // toogleAvt
            $("#toggleAvt").on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'true');
                    //$('#modal__crop--avt').addClass('open');
                    $('#modal__crop--avt').css('display', 'flex');
                    $('.choosePosition').show();
                    $('.cropAvatar').show();
                }
                else {
                    $(this).attr('value', 'false');
                    $('#modal__crop--avt').css('display', 'none');
                    $('.choosePosition').hide();
                    $('.cropAvatar').hide();
                    $('.cmn-card img').attr('src', '');
                }
            });

            // bgcolor
            $('#chooseColor').on('change', function () {
                $('.card').css('background-image', '');
                $('.card').css('background-color', $(this).val());
                if ($(this).val() == '#ffffff') {
                    $('.img-qr').css('mix-blend-mode', 'darken');
                    $('.img-qr').css('filter', '');
                }
                if ($(this).val() == '#000000') {
                    $('.img-qr').css('mix-blend-mode', 'lighten');
                    $('.img-qr').css('filter', 'invert(1)');
                }
            });

            //bg-img
            $('#btn-upload-bg').on('click', function () {
                $('.card').css('background-image', "url(" + $('#uploadFile').val() + ")");
            })

            ////qrcode
            //$("#toggleQR").on('change', function () {
            //    if ($('#linkContact').val() != '') {
            //        $('.error-icon').hide();
            //        if ($(this).is(':checked')) {
            //            $(this).attr('value', 'true');
            //            var data = $('#linkContact').val();
            //            var srcQR = "http://chart.googleapis.com/chart?chs=100x100&cht=qr&chl=" + data;
            //            var img = '<img style="margin: 0 auto" class="img-qr" src="' + srcQR + '">';
            //            $('.qrcode').html(img);
            //            data = $('#linkContact').val('');
            //            UploadQRImage(srcQR);
                        

            //        }
            //        else {
            //            $(this).attr('value', 'false');
            //            $('.img-qr').hide();
            //        }
            //    } else {
            //        $(this).prop('checked', false);
            //        $('.error-icon').show();
            //    }
            //});

            //text
            $("#toggleText").on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'true');
                    $('.input-text').show();
                    $('.choosePositionText').show();
                    $('.textColor').show();
                }
                else {
                    $(this).attr('value', 'false');
                    $('.input-text').hide();
                    $('.choosePositionText').hide();
                    $('.textColor').hide();
                }
            });

            });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.js'></script>
    <script src="~/MyScript/create_dcard.js"></script>

    </body>



</html>
