@{
    ViewBag.Title = "dashboard";
    Layout = "~/Views/Shared/Header.cshtml";
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="~/CSS/dashboard.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,500;1,200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="/CSS/header.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/CSS/modal.css"> -->
</head>

<body>
    <div class="container">
        <header>
        </header>
        <main class="container__main">
            <!-- Left sidebar -->
            <aside class="container__left">
                <div class="container__statistical">
                    <div class="container__statistical__header">
                        <h2>Statistical</h2>
                    </div>
                    <div class="statistical__contener">
                        <div class="statistical__summary">
                            <div class="statistical__summary--item">Views: <span>300</span></div>
                            <div class="statistical__summary--item">Click: <span>3000</span></div>
                        </div>
                        <div class="divider"></div>
                        <div class="statistical__detail">
                            <ul>
                                <li>
                                    <div class="detail--item">
                                        <span name="title">Facebook:</span> <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Instagram: <span>800000</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        YouTube: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Phone: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        <span name="title">Facebook:</span> <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Instagram: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        YouTube: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Phone: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        <span name="title">Facebook:</span> <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Instagram: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        YouTube: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Phone: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        <span name="title">Facebook:</span> <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Instagram: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        YouTube: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Phone: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        <span name="title">Facebook:</span> <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Instagram: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        YouTube: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Phone: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        <span name="title">Facebook:</span> <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Instagram: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        YouTube: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Phone: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        <span name="title">Facebook:</span> <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Instagram: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        YouTube: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Phone: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        <span name="title">Facebook:</span> <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Instagram: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        YouTube: <span>80</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail--item">
                                        Phone: <span>80</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- <div class="arrow" style="color: black; font-size:30px;"><i class="fa fa-arrow-circle-right"></i></div> -->
            </aside>
            <!-- Right sidebar -->
            <nav class="container__right">
                <div class="contener">
                <div class="card__contener">
                    <div class="card__contener--header">
                        <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.6435-9/123137252_1351000158565230_7321193544219366257_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=WC_jN_PUVwsAX9BOWIp&_nc_ht=scontent-sin6-2.xx&oh=00_AT9ir3tQaPi1Ttrx7TyFVCtR9iWAj6HwH4Fz9KYc3AV8DA&oe=620C8276"
                             alt="avatar">
                    </div>
                    <div class="card__contener--body">
                        <ul>
                            @{
                                Bean.Dcontact dcontact = ViewBag.dcontact;
                            }

                            @foreach (Bean.Row row in dcontact.rows)
                            {
                                
                                <li>
                                    <a  href="@row.link">
                                        <div class="button" role="button" style="background-color: #273c75">
                                            <i class="fa @row.bullet"></i>
                                            <!-- Label -->
                                            <div class="card--item__text">
                                                <label>@row.text</label>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                            <!--<li>
                                <div class="button" role="button" style="background-color: #273c75">
                                    <i class="fa fa-facebook-square"></i>-->
                                    <!-- Label -->
                                    <!--<div class="card--item__text">
                                        <label>Facebook</label>
                                    </div>
                                </div>
                            </li>-->

                        </ul>
                    </div>
                    <div class="card__contener--footer">
                        <div class="logo--mini">
                            <img src="resource/logo/logo_full.svg" alt="">
                        </div>
                    </div>
                </div>
                </div>

            </nav>
        </main>
    </div>
</body>
<script src='~/MyScript/dashboard.js'></script>
<script src='~/MyScript/check.js'></script>

</html>

