@{
    ViewBag.Title = "oder_dcard";
    Layout = "~/Views/Shared/Header.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Oder Dcard</title>

    <link rel="stylesheet" href="~/CSS/oder_dcard.css">
    <link rel="stylesheet" href="~/CSS/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fo  nt-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <!-- Left content -->
        <div class="container__half">
            <div class="card_review">
                <img alt="">
            </div>
        </div>
        <!-- Right content -->
        <div class="container__half">
            <div class="payment_form">
                <form action="#" id="payment">
                    <div class="form_header">
                        <div>
                            <h4>Payment</h4>
                        </div>
                    </div>
                    <div class="form_container">
                        <h2>Information</h2>
                        <div class="item">
                            <span></span>
                            <label for="address"><strong>Address:</strong></label>
                            <input type="text" id="address">
                        </div>
                        <div class="item">
                            <span></span>
                            <label for="phone"><strong>Phone Number:</strong></label>
                            <input type="text" id="phone">
                        </div>
                        <div class="item">
                            <span></span>
                            <label for="amount"><strong>Numbers:</strong></label>
                            <div class="stepperButton">
                                <button class="stepper__button--m" id="minus" type="button">-</button>
                                <div class="stepper__input">
                                    <input type="number" value="1" placeholder="1" id="amount" min="1" name="amount">
                                </div>
                                <button class="stepper__button--p" id="plus" type="button">+</button>
                            </div>
                        </div>
                        <div class="payment__panel">
                            <div class="payment__info">
                                <h2>Payments</h2>
                            </div>
                            <div class="form__item--group">
                                <div class="item">
                                    <span></span>
                                    <div class="credit__accept">
                                        <label for="creditNumber">Number credit</label>
                                        <div class="accept__item">
                                            <svg id="visa" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path fill="#8bb7f0" d="M4,32.5c-1.379,0-2.5-1.122-2.5-2.5V10c0-1.378,1.121-2.5,2.5-2.5h32c1.379,0,2.5,1.122,2.5,2.5v20 c0,1.378-1.121,2.5-2.5,2.5H4z" /><path fill="#4e7ab5" d="M36,8c1.103,0,2,0.897,2,2v20c0,1.103-0.897,2-2,2H4c-1.103,0-2-0.897-2-2V10c0-1.103,0.897-2,2-2 H36 M36,7H4c-1.657,0-3,1.343-3,3v20c0,1.657,1.343,3,3,3h32c1.657,0,3-1.343,3-3V10C39,8.343,37.657,7,36,7L36,7z" /><path fill="#fff" d="M12.1 15.001L9.699 22.12c0 0-.597-2.911-.657-3.29-1.367-3.101-3.397-3.028-3.397-3.028L8.022 25v-.002h2.89l3.996-9.997H12.1zM14.389 25L17.014 25 18.601 15.001 15.943 15.001zM32.967 15.001h-2.762L25.898 25h2.608l.538-1.428h3.288L32.611 25H35L32.967 15.001zM29.771 21.662l1.429-3.779.748 3.779H29.771zM22.325 17.915c0-.551.455-.961 1.761-.961.848 0 1.82.613 1.82.613l.426-2.099c0 0-1.242-.468-2.46-.468-2.76 0-4.184 1.313-4.184 2.974 0 3.005 3.638 2.593 3.638 4.137 0 .265-.211.876-1.726.876-1.52 0-2.523-.554-2.523-.554l-.453 2.014c0 0 .972.551 2.85.551 1.883 0 4.494-1.4 4.494-3.411C25.968 19.17 22.325 18.995 22.325 17.915z" /><g><path fill="#ffeea3" d="M9.362,20.442l-0.864-4.353c0,0-0.4-0.935-1.438-0.935s-4.06,0-4.06,0S8.157,16.71,9.362,20.442z" /></g></svg>
                                            <svg id="mastercard" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#ff9800" d="M32 10A14 14 0 1 0 32 38A14 14 0 1 0 32 10Z" /><path fill="#d50000" d="M16 10A14 14 0 1 0 16 38A14 14 0 1 0 16 10Z" /><path fill="#ff3d00" d="M18,24c0,4.755,2.376,8.95,6,11.48c3.624-2.53,6-6.725,6-11.48s-2.376-8.95-6-11.48 C20.376,15.05,18,19.245,18,24z" /></svg>
                                        </div>
                                    </div>
                                    <input type="text" id="creditNumber" placeholder="xxxx-xxxx-xxxx-xxxx" style="text-align:center">
                                </div>
                                <div class="item--group">
                                    <div class="item">
                                        <span></span>
                                        <label for="exMonth">Exp(mm/yyyy):</label>
                                        <expdate>
                                            <select name="exMonth" id="exMonth">
                                            </select>/<select name="exYear" id="exYear">
                                            </select>
                                        </expdate>
                                    </div>
                                    <div class="item">
                                        <span></span>
                                        <label for="cvv">CVV</label>
                                        <input type="text" id="cvv">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_footer">
                        <button class="button-39" id="confirm" type="submit">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- </form> -->
    </div>
    <div class="modal js-modal" id="modal__confirm">
        <div class="modal-container">
            <div class="modal__header">
                <h2>Oder Confirm</h2> <i class="fa fa-close"></i>
            </div>
            <div class="modal__contener">
                <div class="modal__item item__spacebetween">
                    <span>Address: </span> <span class="confirm__value" id="address_value">Vinh long</span>
                </div>
                <div class="modal__item item__spacebetween">
                    <span>Phone: </span> <span class="confirm__value" id="phone_value">0774835261</span>
                </div>
                <div class="modal__item item__spacebetween">
                    <span>Number item:</span> <span class="confirm__value" id="amount_value">20</span>
                </div>
                <div class="modal__item item__spacebetween">
                    <span>Credit number: </span><span class="confirm__value" id="credit_value">4112121212121212</span>

                </div>
                <div class="modal__item item__spacebetween">
                    <span>Total: </span>
                    <strong id="total">120$</strong>
                </div>
            </div>
            <div class="modal_foo right__site">
                <button type="button" id="buy">Buy</button>
                <button type="button" id='close'>Close</button>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".modal").on('click', '.fa-close, button#close', function () {
                $('.modal').removeClass('open');
            });
        });
    </script>
    <script type="text/javascript" src="~/MyScript/oder_dcard.js"></script>
</body>


</html>

